<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="1page.css" rel="stylesheet" />
    <link href="filespage.css" rel="stylesheet" />
    
</head>
<!-- this is the division of the content -->
</div>  
  <div class="container" style="background-color: #c09f80" >
    <div>
        
                <div class="well" style="background-color:#FFF1DC">
                    <img src="../../static/images/Capture.PNG" class="img-rounded" align="left" width="120" height="120"> 
                    <br>
                    <br>
                    <br>
                    <br><br><br><br>
                </div>
</div>
    
<div class="container-fluid " style="background-color:#FFF1DC">
        <div class="row">
          <div class="col-sm-2">       
              <div>
                  <h2 id="usernamelabel">{{name}}</h2>
                  <ul>
                    <br>
                    <li><a href="../userpage/{{name}}">Home</a></li>
                    <li><a href="../filespage/{{name}}">Files</a></li>
                    <li><a href="../useraboutuspage/{{name}}">About us</a></li>
                    <li><a href="../userhelppage/{{name}}">Help</a></li>
                    <li><a href="../logout">Logout</a></li>
                  </ul>
              </div>
          </div>    
          <div class="container">
			<div class="row clearfix">
				<div class="col-md-10 column">
					<div id="filetable">
            
          </div>
				</div>
			</div>
		
	</div>
   
</div>   

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<script src="../../static/js/filespage.js"></script>
<script src="../../static/js/retrieveFileList.js"></script>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</body>

</html>