<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
</head>
<!-- this is the division of the content -->
</div>  
  <div class="container" style="background-color: #c09f80" >
    <div>
        
                <div class="well" style="background-color:#FFF1DC">
                    <img src="../../static/images/Capture.PNG" class="img-rounded" align="left" width="120" height="120"> 
                    <br>
                    <br>
                    <br>
                    <br><br><br><br>
                
              
    </div>
    </div>
    <div class="container-fluid " style="background-color:#FFF1DC">
        <div class="row">
          <div class="col-sm-2">       
              <div>
                  <h2 id="usernamelabel">{{name}}</h2>
                  <ul>
                    <br>
                    <li><a href="../userpage/{{name}}">Home</a></li>
                    <li><a href="../filespage/{{name}}">Files</a></li>
                    <li><a href="../useraboutuspage/{{name}}">About us</a></li>
                    <li><a href="../userhelppage/{{name}}">Help</a></li>
                    <li><a href="../logout">Logout</a></li>
                  </ul>
              </div>
          </div>    
        <div class="col-sm-7 " style="background-color:#5f4011">
          <p>
              
          </p>
          
          <h2 style="color:white" >Help</h2>
          <br>
               
          <h3 style="color:white"><u>The WBIDE System</u></h3>
          <ul style="list-style-type:disc">
              <p style="color:white">
              Compile<br>
              Source code<br>
              Input Output<br>
              </p>
          <br>
          </ul>
          <h4 style="color:white">Complier</h4>
          <p id=compiler style="color:white" >
              <style="color:white">Submitted solutions are compiled according to the user selection made during the submission process. For example: </style></br>
              <ul style="list-style-type:none" >
                  <p style="color:white" >
                  gcc  (with standard library) for C language.
                  <br>
                  g++  (with Standard Template Library) for C++ language.
                  </p>
              </ul>
              <br>
              <h4 style="color:white">Source code</h4>
          <p style="color:white" id=source>
              Source code contains the code to be written. 
          </p>
          <br>
          <h4 style="color:white">Input Output</h4>
          <p id=input style="color:white">
              Program should read from standard input and write into standard output. There is no need to read all data first, compute them all and then print all output. It is recommended to read and write data as simultaneously. Technically, server redirects standard stream to files. You can test you programs in the same way at home.</br>
              <b>Input example:</b></br>
      
                 2 3</br>
      
              <b style="color:white">Output example:</b>
      
                  </br>5</br>
              <br>
              <b style="color:white"><h4>Solution in C:</h4></b></br>
              <code >
                  #include <stdio.h>
                      </br>
                      int main()<br>
                      {</br>
                      int a, b;</br>
                      scanf("%d %d", &a, &b);</br>
                      printf("%d\n",a+b);</br>
                      return 0; </br>
                      }</br>
              </code>
      
              <b style="color:white"><h4>Solution in c++:</h4></b></br>
              <code >
                  #include <iostream>
                      </br>
                      using namespace std;</br>
                      int main()</br>
                      {</br>
                      int firstNumber, secondNumber, sumOfTwoNumbers;</br>
                      cout << "Enter two integers: ";</br>
                      cin >> firstNumber >> secondNumber;</br>
                      }</br>
              </code>
      
          </p>
  
        </div>   
        
       
        </div>
    </div>
 

      </div>
    </div>
    
  </div>   

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

</body>

</html>