<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
</head>
<!-- this is the division of the content -->
</div>  
<div class="container" style="background-color: #c09f80" >
    <div>
        
                <div class="well" style="background-color:#FFF1DC">
                  <img src="../../static/images/Capture.PNG" class="img-rounded" align="left" width="120" height="120">
                  <br>
                  <br>
                  <br>
                  <br><br><br><br>
                </div>
    </div>
    <div class="container-fluid " style="background-color:#FFF1DC">
        <div class="row">
          <div class="col-sm-2">       
              <div>
                <h2 id="usernamelabel">{{name}}</h2>
                <ul>
                  <br>
                  <li><a href="../userpage/{{name}}">Home</a></li>
				  	      <li><a href="../filespage/{{name}}">Files</a></li>
				  	      
				  	      <li><a href="../useraboutuspage/{{name}}">About us</a></li>
                  <li><a href="../userhelppage/{{name}}">Help</a></li>
                  <li><a href="../logout">Logout</a></li>
                </ul>
              </div>
          </div>    
        <div class="col-sm-7" style="background-color: #5f4011">
          <p>
            <div class="container">           
                <select style="width:8%" id="language">
                    <option value="c">C</option>
                    <option value="cpp">C++</option>
                </select> 
                <p align="center"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Save</button></p>
            </div>
          </p>
          <font color="white"><b>Code Editor: </b></font>
          <p>
          <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="25" style="resize: none"></textarea>
          </p>
        </div>   
        
        <div class="col-sm-3" style="background-color:#EAC67A">   
            <div>
                <br>
                   <p><button class="btn btn-success" align="center" id="compileandrun">Compile & Run</button></p>
                   <br>
                   <b>Input:</b>
                   <textarea class="form-control rounded-0" id="input" rows="11" style="resize: none"></textarea>
                   <br>
                   <b>Error/Output:</b>   
                   <textarea class="form-control rounded-0" disabled id="output" rows="11" style="resize: none"></textarea>
             </div>
       </div>
    </div>
</div>
<div class="container">
 
  <!-- The Modal -->
   <div class="modal" id="myModal">
     <div class="modal-dialog">
       <div class="modal-content">
       
         <!-- Modal Header -->
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h3 class="modal-title" align="center">Save File</h3>
           <br>
          <!-- Modal body -->
        <div class="form-group" >
          <div class="container">
              <div class="row">
              <div class="col-md-6">
              <form id="fileForm" role="form" >
              
              <div class="form-group"> 
              <input class="form-control" type="text" name="filename" placeholder="Save with a message" id = "filename" onkeyup = "Validate(this)" required /> 
              <div id="errFirst"></div>    
              </div>
          
              <div class="form-group" align="center">
              <input class="btn btn-success" type="button" name="submit_reg" value="Save" id="saveButton" >
              </div>
              
               
              </fieldset>
              </form><!-- ends register form -->
              

        </div>
       
       </div>
        
    </div>
  </div>
</div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<script src="../../static/js/compilerrequest.js"></script>
<script src="../../static/js/saveFile.js"></script>

</body>

</html>